 <br/><br/> <br/>
 <h1>Welcome <%= @@curracc.fname.capitalize %>! Ready to merge some files?</h1>

 <p style="margin-left: 10px">To avoid mistakes with the positioning of pages, make sure to insert your files from Left to Right, Top to Bottom.</p> <br/>
 <div class= "container">
 <form method="POST" action="/upload" style="margin-left: 20px;margin-top: 10px" enctype="multipart/form-data">
  <input style="margin-top:3px" type="file" name="files[]"/>
  <input type="file" name="files[]"/><br>
  <input style="margin-top:3px" type="file" name="files[]"/>
  <input type="file" name="files[]"/><br>
  <input style="margin-top:3px" type="file" name="files[]"/>
  <input type="file" name="files[]"/><br>
  <button style="margin-top:10px" class="btn btn-primary" type="submit"> Merge </button>
 </form>
</div>