    <main role="main" style="margin: 75px">
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
           <img class="irc_mi" src="https://image.flaticon.com/icons/png/512/259/259607.png" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="304" style="margin-top: 25px;" alt="Related image">
            <h2>PDF Merger</h2>
            <p>Merge 2 or more PDF files. New accounts receive three free merges.</p>
            <p><a class="btn btn-secondary" href="/noauth" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
           <img class="irc_mi" src="http://www.free-icons-download.net/images/file-icon-7890.png" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="256" height="256" style="margin-top: 49px;" alt="Image result for file image">
            <h2>Learn About Us</h2>
            <p>We offer the opportunity to merge different PDF into one. Learn how our service work and be sure to register for the free mergers</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
           <img class="irc_mi" src="https://www.yocale.com/Content/images/login/signup-consumer-logo-black.png" alt="Image result for signup logo black" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="304" height="304" style="margin-top: 25px;">
            <h2>Sign up today!</h2>
            <p>Sign up and receive three free PDF merges! </br> No payment or credit card information needed.</p>
            <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign Up!</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Merge <span class="text-muted">Easy and Painless</span></h2>
            <p class="lead">Merge one or more PDF files with no problem. Just upload your files!</p>
          </div>
          <div class="col-md-5">
           <img class="irc_mut iiJrI6p2Faio-HwpH6ZlgJaI" alt="Image result for files images black" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX7YbbNybow9d4Gg4rtHfNJiAvaW64hyKwpUZUgJX5nLt1Oe5j" width="353" height="353" style="margin-top: 0px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Free Merging<span class="text-muted">Take advantage of this offer</span></h2>
            <p class="lead">By registering with us, you get three free merges with no paymet required!</p>
          </div>
          <div class="col-md-5 order-md-1">
           <img class="irc_mi" src="http://images.clipartpanda.com/file-clipart-file_folder.gif" alt="Image result for files clipart black" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="283" height="331" style="margin-top: 11px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Join us! <span class="text-muted">What are you waiting for?</span></h2>
            <p class="lead">Register with us for free! Try it once and you will love it!</p>
          </div>
          <div class="col-md-5">
            <img class="irc_mi" src="http://www.clker.com/cliparts/v/B/S/E/B/6/red-rectangle-join-us-button-md.png" alt="Image result for Join us black" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="297" height="207" style="margin-top: 73px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="/">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>


