</br>
</br>
  <br><h1 style="margin-left: 15px">Account Information:</h1>
    <p style="margin-left: 45px">Name: <%= @@curracc.fname.capitalize %> <%= @@curracc.lname.capitalize %><br>
       Email: <%= @@curracc.email.downcase %><br>
       Membership: <% if @@curracc.paidpro == true %>
                    Paid Pro Membership
                   <% elsif @@curracc.paid == true %>
                    Paid Membership
                   <% else %>
                    Free Membership (<%= @@curracc.freemerge %> merges left)
                   <% end %><br>
       Password: <% @@curracc.password.length.times do %>
                  *
                 <% end %><form method="get" action="/infochange">
                            <button style="margin-left: 30px"> Change Information </button>
                          </form><br></p>
