<br><br><br>
<div class= "container">
<H1 >About us</H1><br>
<p> 
This Website was created by three college students E. Camarillo, M. Cavazos, and K. De La Rosa. This was made to have a free and easy to use alternative to buying Abode Acrobat. All without the use of pesky ads!
</p>
</div>
 <center><p class="mt-4 mb-3 text-muted">Already have an account? <a href="/sign_in">Sign In</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dont have an account? <a href="/sign_up">Sign Up</a></p></center>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>